*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{  
    width: 100%;
    height: 100vh;
}

header{
    width: 100%;
    height: 10%;
    display: flex;
    gap: 120px;
    padding: 20px;
    border-bottom: solid 0.5px rgb(235, 237, 243);

    & a{
        cursor: pointer;
        font-weight: 900;
    }

    & a:hover{
        color: rgb(142, 143, 146);
    }
}

.logo{
    width: 50px;
    height: 20px;
}

.caixa-principal{
    display: flex;
}

.esquerda{
    width: 50%;
    text-align: start;
    padding: 130px 0 10px 20px;
    line-height: 50px;

    & h1{
        font-size: 40px;
    }

    & h2{
        font-size: 30px;
    }

    & h5{
        font-size: 18px;
        color: rgb(142, 143, 146);
    }

    & p{
        font-size: 20px;
        font-weight: 400;
    }

    & button{
        width: 100px;
        height: 30px;
        border-radius: 10px;
        border: none;
        color: white;
        background-color: rgb(231, 30, 30);
        font-size: 15px;
        cursor: pointer;
    }
    & button:hover{
        opacity: 0.6;
    }
}

.escolha{

    & .troca-cor{
        width: 30px;
        border-radius: 30px;
        cursor: pointer;
        margin-left: 8px;
    }
    & .vermelho{
        background-color: #b50012;
    }
    & .azul{
        background-color: #81a5c4 ;
    }
    & .amarelo{
        background-color: #f7da47 ;
    }
    & .preto{
        background-color: #272d33 ;
    }
    & .roxo{
        background-color: #c998e9;
    }
    & .branco{
        background-color: #c1c1c1 ;
    }
}

.dirieta{
    width: 50%;
}

.img-lado{
    width: 250px;
    height: 500px;
    position: absolute;
    margin: 44px 0 0 300px;
}

.circulo{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #b50012;
    top: 0;
    left: 0;
    clip-Path: circle(490px at right 760px);
    z-index: -1;
}

@media (max-width: 1600px){
    header{
        gap: 100px
    }
    .img-lado{
        margin-left: 200px;
    }
    .circulo{
        clip-Path: circle(690px at right 860px); 
    }
}

@media (max-width: 1350px){
    header{
        gap: 90px
    }
    .img-lado{
        margin-left: 120px;
    }
    .circulo{
        clip-Path: circle(690px at right 860px); 
    }
}

@media (max-width: 1250px){
    header{
        gap: 60px
    }
}

@media (max-width: 920px){
    header{
        gap: 60px
    }
    .caixa-principal{
        flex-direction: column;
    }
    .esquerda{
        margin-top: -90px;
    }
    .img-lado{
        margin: -130px 0 20px 450px;
        width: 400px
    }
    .circulo{
        clip-Path: circle(590px at right 860px); 
    }
}

@media (max-width: 820px){
    header{
        gap: 50px
    }
    .img-lado{
        margin: -130px 0 20px 380px;
        width: 400px
    }
}

@media (max-width: 770px){
    body{
       width: 100%;
    }
    .escolha{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .img-lado{
        margin: -500px 0 20px 350px;
        width: 400px
    }
    .troca-cor{
        width: 60px;
    }
}

@media (max-width: 540px){
    header{
        gap: 20px
    }
    .esquerda{
        line-height: 35px;
        width: 100%;
    }
    .img-lado{
        margin: -340px 0 20px 250px;
        width: 200px;
        height: 380px
    }
    .troca-cor{
        width: 40px;
    }
    .escolha{
        gap: 20px;
    }
    .circulo{
        clip-Path: circle(470px at right 820px); 
    }
}

@media (max-width: 440px){
    header{
        gap: 40px;
        display: grid;
        grid-template-columns: 50px 50px 70px 50px;
    }
    .img-lado{
        margin: -290px 0 20px 180px;
    }
    h2{
        font-size: 20px;
    }
    .circulo{
        clip-Path: circle(370px at right 820px); 
    }
    .esquerda{
        line-height: 45px;
    }
}

@media (max-width: 415px){
    .img-lado{
        margin: -290px 0 20px 180px;
        height: 350px;
    }
    .circulo{
        clip-Path: circle(340px at right 890px); 
    }
}

@media (max-width: 378px){
    header{
        height: 16%;
    }
    .esquerda{
        line-height: 40px;
        margin-top: -110px;

        & h1{
            font-size: 30px;
        }
        & h2{
            font-size: 20px;
        }
        & p{
            font-size: 14px; 
        }
    }
    .img-lado{
        margin: -270px 0 20px 160px;
        height: 250px;
    }
    .troca-cor{
        width: 20px;
    }
    .escolha{
        gap: 10px;
    }
    .circulo{
        clip-Path: circle(310px at right 720px); 
    }
}

@media(max-width: 365px){
    header{
        gap: 22px;
    }
    .img-lado{
        margin: -290px 0 20px 120px;
        height: 260px;
    }
}
